* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Social;
    src:url(./font/Socialico.ttf);
}


body {
    font-family: 'Quattrocento Sans', 'Open Sans', sans-serif; ;
}

p {
    font-family:'Open Sans';
    font-weight: normal;
}

#wrapper {
    margin: 0px auto;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;

}

.container h2 {
    border-left: 10px solid #ccd0d7;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    /* font-weight: bold; */
    color: #292f36;
    padding-left: 15px;
    width: 100%;
}

/* header */

header {
    background-color: #122126;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

header .container h1 {
    /* margin-left: 0px; */
    line-height: 81px;
    width: 120px;
}

header .container input {
    display: none;
}

header .container label {
    display: none;
}

header .container label i {
    font-size: 24px;
    line-height: 80px;
}

header .container label i:nth-child(1) {
    display: block;
}
header .container label i:nth-child(2) {
    display: none;
}


header .container input:checked + label i:nth-child(1) {
    display: none;
}

header .container input:checked + label i:nth-child(2) {
    display: block;
}

header .container input:checked ~ ul {
    display: block;
}


header .container ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* display:block; */
    width: 650px;
    list-style-type: none;
}

header .container ul li {
    display: inline-block;
    /* height: 80px; */
}

header .container ul li a {
    line-height: 80px;
    margin: 0px auto;
    border: 2px solid #1d212600;
    border-radius: 3px;
    padding: 7px 10px;
    color: #a4aead;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    
}

header .container ul li a:hover {
    border-color: #a4aead;
    
}

header .container ul li a:active {
    border-color: #23b7a4;
    color: #23b7a4;
    
}



#hero {
    /* height: 660px; */
    background-image: url(image/banner.jpg);
    background-position: center;
    background-size: cover;
    background-color: #292a46;

}

#hero .container {
    padding-top:225px;
}

#hero .container h2 {
    color: white;
    border-left: none;
    padding-left: 0px;
}

#hero .container p {
    color: #ccd0d7;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    margin-top: 28px;
    max-width: 650px;
}

#hero .container div {
    display: flex;
    justify-content: flex-start;
}

 /* View more & Video Tour button */
#hero .container div a {
    display: block;
    width: 124px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 11px;
    margin-top: 35px;
}
 /* View more & Video Tour button hover */
#hero .container div a:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
}


#hero .container {
    position: relative;
    height: 654px;
}

#hero .container ul {
    position: absolute;
    right: 15px;
    bottom: 30px;
}

#hero .container ul li {
    display: inline-block;
    margin-left: 9px;
}

#hero .container ul li:first-child {
    display: inline-block;
    margin-left: 0px;
}

#hero .container ul li a {
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    width: 14px;
    text-indent: -10000px;  
     
}

#hero .container ul li a.current {
    background-color: white;
}

/* ABOUT */

#about .container h2 {
    margin-top: 80px;
    
}

#about .container {
    display: flex;
    flex-wrap: wrap;

}

#about {
    border-bottom: 1px solid #dde1e4;
}

#about .container > div {
    width: calc(100% - 500px);
    margin-top: 55px;
}

#about .container div div p {
    font-size: 16px;
    line-height: 26px;
    color: #b0b1b3;

}

#about .container div div ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    

}

#about .container div div ul li {
    display: block;
    width: 60px;
    height: 60px;
    margin-left: 1px;
}

#about .container div div ul li a{
    display: block;
    line-height: 60px;
    width: 60px;
    height: 60px;
    /* border: 1px solid #000; */
    font-family: Social;
    font-size: 36px;
    text-decoration: none;
    color: white;
    background-color: #c8cdd0;
    text-align: center;

}

#about .container div div ul li a:hover {
    background-color: #d0d5d9;
}

#about .container > ul {
    width: 470px;
    /* width: calc(100% - 640px - 30px); */
    padding-left: 30px;
   
}

#about .container > ul {
    counter-reset: title-number;
    margin-top: 60px;

  }

#about .container > ul li {
    list-style-type: none;
    /* height: 50px; */
    display: block;
    position: relative;
    padding-left: 67px;
   
    margin-bottom: 30px;


}

#about .container > ul li::before {
    display: inline-block;
    counter-increment: title-number;
    content: counter(title-number, decimal-leading-zero);
    width: 50px;
    height: 50px;
    background-color: #23b7a3;
    text-align:center;
    font-size: 20px;
    line-height: 50px;
    color: white;
    position: absolute;
    top: 0px;
    left:0px;
}

#about .container > ul li h3 {
    font-size: 18px;
    line-height: 18px;
    color: #292f36;
    text-transform: uppercase;
    margin-bottom: 15px;

}

#about .container > ul li p {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
}



/* -------------TEAM------------------ */

#team {
    margin-bottom: 100px;
}

#team h2 {
    margin-top: 80px;
}

#team #team-list {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    flex-wrap: wrap;
}


#team #team-list > div {
    width: calc((100% - 90px) / 4);
    position: relative;

    
}

#team #team-list > div img {
    display: block;
    width: 100%;
}


#team #team-list > div:hover img {
    opacity: 60%;
}


#team #team-list div .info {
    background-color: #e1e6ea;
    padding:20px;
    transition: 0.5s;
  
    
}

#team #team-list div .info h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #292f36;
    font-weight: bold;
}

#team #team-list div .info p {
    font-size: 14px;
    color: #8d8f92;
    font-weight: normal;
}

#team #team-list div .t-mask {
   position: absolute;
   top:0px;
   left:0px;
   height: 100%;
   width: 100%;
   display: none;
    
}

#team #team-list div .t-mask ul {
    display: flex;
    justify-content: center;
    height: calc(100% - 77px);
    align-items: center;

}

#team #team-list div .t-mask ul li {
    list-style-type: none;
    margin-left: 1px;
    display: inline-block;
 
}

#team #team-list div .t-mask ul li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-family: Social;
    font-size:28px;
    text-decoration: none;
    text-align: center;
    background-color:#3a454d;
    color: white;
}

#team #team-list div .t-mask ul li a:hover {
    background-color: #4e5a62;
}

#team #team-list > div:hover .info{
    background-color: #3a454d;    
}

#team #team-list > div:hover .info h4{
    color: white;    
}

#team #team-list > div:hover .info p{
    color: white;    
}

#team #team-list > div:hover .t-mask {
    display: block;
    
}


/* -----------WORK -------------*/

#work {
    background-color: #3a454d;
    padding-top: 86px;
}

#work h2 {
    color: white;
    border-color: #4e5a62;
    margin-bottom: 60px;
}

#work .container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#work .container > div > div {
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
    position: relative;
}

#work .container > div > div > img {
    display: block;
    width:100% ;
}

#work .container div div .mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #292f3688;
    display: none;
}

#work .container div div .mask a {
    display: block;
    height: calc(100% - 60px);
    background-image: url(image/work/plus.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -100000px;
}

#work .container div div .mask h4 {
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #292f36;
}
#work .container div div:hover .mask{
    display: block;
}

#work .container div button {
   margin: 0px auto;
   margin-top: 60px;
   width: 151px;
   height: 44px;
   border: 2px solid white;
   border-radius: 5px;
   background-color: #3a454d;  
   text-transform: uppercase;
   font-size: 14px;
   color: white;
   font-family: 'Quattrocento Sans';
   margin-bottom: 60px;
}

#work .container div button:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
}


/* ------------------------------WHAT WE DO ------------------------ */

#wwd {
    padding-top: 80px;
    padding-bottom: 90px;

}

#wwd .container h2 {
    margin-bottom: 80px;
}

#wwd .container ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

#wwd .container ul li {
    /* width: 285px; */
    width: calc((100% - 90px ) / 4);
    padding: 10px 0px;
    text-align: center;
}

#wwd .container ul li h4 {
    margin-top: 35px;
    font-size: 17px;
    color: #292f36;
    font-weight: bold;
    text-transform: uppercase;

}

#wwd .container ul li p {    
    font-size: 16px;
    line-height: 26px;
    color:#8d8f92;
    margin-top: 25px;
}



/* -------------FEATURES--------------------- */

#features {
    background-color: #3a454d;
    padding-top: 85px;
    padding-bottom: 125px;
}

#features .container h2 {
    color: white;
    border-color: #4e5a62;
    margin-bottom: 60px;
}

#features .container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

#features .container > div > div {
    width: calc((100% - 60px)/3);
    /* min-width: 200px;   */
}

#features .container > div > div > img {
    width: 100%;
}

#features .container > div > div h4 {
    color: white;
    text-transform: uppercase;
    margin-top: 64px;
    margin-bottom: 25px;

}

#features .container > div > div p {
    color: white;
    font-size: 16px;
    line-height: 26px;
    
}



/* --------------------STAY IN TOUCH ---------------- */

#contact {
    padding-bottom: 104px;
    position: static;
}

#contact .container h2 {
    margin-top: 64px;
    margin-bottom: 60px;
}

#contact iframe {
    width: 100%;
    height: 345px;
}

#contact #ct {
    display: flex;
    justify-content: space-between;
    margin-top: -150px;
    position: relative;
}
 

#contact #ct #contact-info {
    margin-top: 130px;
    width: 555px;  
}

#contact #ct #contact-info h4 {
    font-size: 20px;
    color: #292f36;
    text-transform: uppercase;
    margin-top: 60px;

}

#contact #ct #contact-info p {
    color: #8d8f92;
    font-size: 16px;
    line-height: 26px;
    margin-top: 35px;
}

/* -----------START FORM--------------- */
#ct form {
    width: 555px;
    background-color: white;
    padding: 30px;
    margin-top: 20px;

}

#ct > form > div:first-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 

}

#ct > form > div > div {
    width: calc((100% - 16px) / 2); 
    display: flex;
    flex-wrap: wrap;
}

#ct form div div label {
    font-size: 14px;
    line-height: 26px;
    color: #8d8f92;
    text-transform: uppercase;  
}   

#ct form div div input {
    width: 100%;
    height: 44px;
    background-color: #eaeef1;
    border: none;
    border-radius: 3px;
    color: #122126;
    font-size: 16px;
    padding: 5px 5px;
    line-height: 26px;
}


#ct form #msg label {
    font-size: 14px;
    line-height: 26px;
    color: #8d8f92;
    text-transform: uppercase;  
    display: block;
    margin-top: 30px;
}


/* Your message input*/
#ct form div textarea {
    width: 100%;
    min-height: 160px;
    background-color: #eaeef1;
    border: none;
    border-radius: 3px;
    resize: vertical;
    font-family: 'Open Sans';
    color: #122126;
    font-size: 16px;
    padding: 10px 10px;
    line-height: 20px;
}


/* SEND MESSAGE button */
#ct form input[type=submit] {
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #8d8f92;
    border: 2px solid #c8cdd0;
    background-color: white;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0px 10px;
    margin-top: 30px;
    
}

#ct form input[type=submit]:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
    color: white;
}   


/* -------------------------FOOTER----------------------- */

footer {
    background-color: #3a454d;
    height: 95px;
}

footer .container  {
    padding-top: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer .container p {
    font-size:14px;

}

footer .container ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

footer .container ul li a{
    font-family: Social;
    text-decoration: none;
    color:white;
    font-size: 28px;
}

footer .container ul li a:hover {
    text-shadow: 0px 0px 5px white ;
    color: #66d3c4;
}


/* RESPONSIVE */

@media screen and (max-width: 960px) {
/* *** */
    header .container ul {
    width: calc(100% - 150px);
    max-width: 650px;
    }

    #hero .container {
        padding-top: 180px;
        height: 550px;
    }

    #hero .container h2 {
        border-left: none;
        padding-left: 0px;
    }
    #hero .container > * {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }


    #hero .container div {
        justify-content: center;
    }

    #about .container {
        padding-bottom: 30px;
        }

    #about .container > div, #about .container > ul {
        width: calc((100% - 30px) / 2);
    }

    #ct > form > div > div {
        width: 100%;
    }

    #contact {
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 880px) {
/* meet the team */
    #team #team-list div .info {
        height: 96px;
    }

}


@media screen and (max-width: 768px) {
/* *** */


    #hero .container {
        padding-top: 80px;
        height: 350px;
    }


    header .container ul {
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    }

    #about .container {
    padding-bottom: 0px;
    }
    #about .container h2 {
    margin-top: 50px;
    }

    #about .container > div {
    margin-top: 30px;
    }

    #about .container > div, #about .container > ul {
        width: 100%;
    }

    #about .container div div ul {
    justify-content: center;
    }

    #about .container > ul {
        padding-left: 0px;
    }

    #team {
        margin-bottom: 0px;
    }

    #team #team-list {
        margin-top: 30px;
    }

    #team #team-list > div {
        width: calc((100% - 30px) / 2);
        margin-bottom: 30px;
    }

    #wrapper > * {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    header {
        padding: 0px;
    }
    #wrapper > * > h2 {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    #about .container h2 {
        margin-top: 0px;
    }

    #contact .container h2 {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    #work h2 {
        margin-bottom: 30px;
    }

    #work .container > div > div {
        width: calc((100% - 30px) / 2);
    }

    #work .container div button {
        margin: 0px auto;
    }

    #wwd .container h2 {
        margin-bottom: 30px;
    }

    #wwd .container ul li {
        width: calc((100% - 30px) / 2);
    }

    #features .container h2 {
        margin-bottom: 30px;
    }

    #features .container div {
        margin-top: 0px;
    }

    #wrapper footer {
        padding: 0px;
    }

    #wrapper > header {
        padding-top: 0px;
        padding-bottom: 0px;
    }



}

@media screen and (max-width: 680px) {
 
    header .container h1 {
    width: calc(100% - 21px);
    }

    

    header .container label {
    display: block;
    }



    header .container ul {
    display: none;
    }

    header .container input:checked ~ ul {
    display: flex;
    flex-wrap: wrap;
    }
    
    header .container ul li a {
        line-height: 50px;
    }

    #features .container div {
        display: block;
        text-align: center;
    }

    #features .container > div > div {
        width: 100%;
        margin-bottom: 30px;
    }

    #features .container > div > div:last-child {
        margin-bottom: 0px;
    }

    #features .container > div > div h4 {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #contact #ct {
     flex-wrap: wrap;
    }


    #contact #ct > * {
        width: 100%;
    }

    #ct form {
        padding: 0px;
    }


}


@media screen and (max-width: 600px) {
    footer .container {
        flex-wrap: wrap;
        padding-top: 20px;
        text-align: center;
        
    }
    
    footer .container > * {
        width: 100%;
        padding-bottom: 15px;
    }

}


@media screen and (max-width: 500px) {
    #hero .container {
    padding-top: 20px;
    height: 320px;
    }

   #wrapper header .container h1 {
    line-height: 40px;
    }

    header .container label i {
        line-height: 40px;
    }

    #hero .container ul {
    display: none;
    }

    #ct form input[type=submit] {
        width: 100%;
    }


}