* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

@font-face {
    font-family: Social;
    src:url(./font/Socialico.ttf);
}


body {
    font-family: 'Quattrocento Sans', 'Open Sans', sans-serif; ;
}

p {
    font-family:'Open Sans';
    font-weight: normal;
}


.container {
    max-width: 1140px;
    margin: 0px auto;
}

/* header */

header {
    height: 81px;
    background-color: #122126;
}
header .container {
    display: flex;
    justify-content: space-between;
}

header .container h1 {
    margin-left: 0px;
    line-height: 81px;
}

header .container ul li {
    display: inline-block;
    height: 80px;
}

header .container ul li a {
    line-height: 80px;
    margin: 0px 10px;
    border: 2px solid #5b616800;
    border-radius: 3px;
    padding: 7px 10px;
    color: #a4aead;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

}

header .container ul li a:hover {
    border-color: #a4aead;
    
}

header .container ul li a:active {
    border-color: #23b7a4;
    color: #23b7a4;
    
}



#hero {
    /* height: 660px; */
    background-image: url(image/banner.jpg);
    background-position: center;
    background-size: cover;

}



#hero #top {
    padding-top:225px;
}

#hero .container h2 {
    line-height: 36px;
    font-size: 36px;
    color: white;
    text-transform: uppercase;    
    font-weight: regular;
}

#hero .container p {
    color: #ccd0d7;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 26px;
    margin-top: 28px;
    width: 650px;
}

#hero .container div {
    display: flex;
    justify-content: flex-start;
}

 /* View more & Video Tour button */
#hero .container div a {
    display: block;
    width: 124px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 11px;
    margin-top: 35px;
}
 /* View more & Video Tour button hover */
#hero .container div a:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
}

.container h2 {
    border-left: 10px solid #ccd0d7;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #292f36;
    padding-left: 15px;
    width: 100%;
}

#hero .container {
    position: relative;
    height: 654px;
}

#hero .container ul {
    position: absolute;
    right: 0px;
    bottom: 30px;
}

#hero .container ul li {
    display: inline-block;
    margin-left: 9px;
}

#hero .container ul li:first-child {
    display: inline-block;
    margin-left: 0px;
}

#hero .container ul li a {
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    height: 14px;
    width: 14px;
    text-indent: -10000px;  
     
}

#hero .container ul li a.current {
    background-color: white;
}

/* ABOUT */

#about .container h2 {
    margin-top: 80px;
    
}

#about .container {
    display: flex;
    flex-wrap: wrap;

}

#about {
    border-bottom: 1px solid #dde1e4;
}

#about .container > div {
    width: 650px;
    margin-top: 55px;
}

#about .container div div p {
    font-size: 16px;
    line-height: 26px;
    color: #b0b1b3;

}

#about .container div div ul {
    display: flex;
    /* height: 60px; */
    margin-top: 45px;
}

#about .container div div ul li {
    display: block;
    width: 60px;
    height: 60px;
    margin-left: 1px;
}

#about .container div div ul li a{
    display: block;
    line-height: 60px;
    width: 60px;
    height: 60px;
    /* border: 1px solid #000; */
    font-family: Social;
    font-size: 36px;
    text-decoration: none;
    color: white;
    background-color: #c8cdd0;
    text-align: center;

}

#about .container div div ul li a:hover {
    background-color: #d0d5d9;
}

#about .container > ul {
    width: 470px;
    /* width: calc(100% - 640px - 30px); */
    padding-left: 30px;
   
}

#about .container > ul {
    counter-reset: title-number;
    margin-top: 60px;

  }

#about .container > ul li {
    list-style-type: none;
    /* height: 50px; */
    display: block;
    position: relative;
    padding-left: 67px;
   
    margin-bottom: 30px;


}

#about .container > ul li::before {
    display: inline-block;
    counter-increment: title-number;
    content: counter(title-number, decimal-leading-zero);
    width: 50px;
    height: 50px;
    background-color: #23b7a3;
    text-align:center;
    font-size: 20px;
    line-height: 50px;
    color: white;
    position: absolute;
    top: 0px;
    left:0px;
}

#about .container > ul li h3 {
    font-size: 18px;
    line-height: 18px;
    color: #292f36;
    text-transform: uppercase;
    margin-bottom: 15px;

}

#about .container > ul li p {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
}



/* -------------TEAM------------------ */

#team {
    margin-bottom: 100px;
}

#team h2 {
    margin-top: 80px;
}

#team #team-list {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}


#team #team-list > div {
    width: 263px;
    /* height: 375px; */   
    position: relative;
    
}

#team #team-list > div img {
    display: block;
}


#team #team-list > div:hover img {
    opacity: 50%;
}


#team #team-list div .info {
    background-color: #e1e6ea;
    padding:20px;
    transition: 0.5s;
  
    
}

#team #team-list div .info h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #292f36;
    font-weight: bold;
}

#team #team-list div .info p {
    font-size: 14px;
    color: #8d8f92;
    font-weight: normal;
}

#team #team-list div .t-mask {
   position: absolute;
   top:125px;
   left: 55px;
   display: none;
   
}

#team #team-list div .t-mask ul {
    display: flex;
}

#team #team-list div .t-mask ul li {
    list-style-type: none;
    margin-left: 1px;
 
}

#team #team-list div .t-mask ul li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-family: Social;
    font-size:28px;
    text-decoration: none;
    text-align: center;
    background-color:#3a454d;
    color: white;
}

#team #team-list div .t-mask ul li a:hover {
    background-color: #4e5a62;
}

#team #team-list > div:hover .info{
    background-color: #3a454d;    
}

#team #team-list > div:hover .info h4{
    color: white;    
}

#team #team-list > div:hover .info p{
    color: white;    
}

#team #team-list > div:hover .t-mask {
    display: block;
}


/* -----------WORK -------------*/

#work {
    background-color: #3a454d;
    padding-top: 86px;
}

#work h2 {
    color: white;
    border-color: #4e5a62;
    margin-bottom: 60px;
}

#work .container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#work .container div div {
    width: 360px;
    /* height: 265px; */
    margin-bottom: 30px;
    position: relative;
}

#work .container div div .mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 360px;
    height: 265px;
    background-color: #292f3688;
    background-repeat: no-repeat;
    display: none;
}

#work .container div div .mask h4 {
    display: inline-block;
    width: 360px;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #292f36;
    position: absolute;
    top: 205px;
    
}

#work .container div div .mask a {
    display: inline-block;
    width: 360px;
    height: 205px;
    position: absolute;
    background-image: url(image/work/plus.png);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -100000px;
}

#work .container div div:hover .mask{
    display: block;
}

#work .container div button {
   margin: 0px auto;
   margin-top: 60px;
   width: 151px;
   height: 44px;
   border: 2px solid white;
   border-radius: 5px;
   background-color: #3a454d;  
   text-transform: uppercase;
   font-size: 14px;
   color: white;
   font-family: 'Quattrocento Sans';
   margin-bottom: 60px;
}

#work .container div button:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
}


/* ------------------------------WHAT WE DO ------------------------ */

#wwd {
    padding-top: 80px;
    padding-bottom: 90px;

}

#wwd .container ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

#wwd .container ul li {
    width: 285px;
    padding: 10px;
    text-align: center;
}

#wwd .container ul li h4 {
    margin-top: 35px;
    font-size: 17px;
    color: #292f36;
    font-weight: bold;
    text-transform: uppercase;

}

#wwd .container ul li p {    
    font-size: 16px;
    line-height: 26px;
    color:#8d8f92;
    margin-top: 25px;
}



/* -------------FEATURES--------------------- */

#features {
    background-color: #3a454d;
    padding-top: 85px;
    padding-bottom: 125px;
}

#features .container h2 {
    color: white;
    border-color: #4e5a62;
    margin-bottom: 60px;
}

#features .container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

#features .container > div > div {
    width: 360px;  

}

#features .container > div > div h4 {
    color: white;
    text-transform: uppercase;
    margin-top: 64px;
    margin-bottom: 25px;

}

#features .container > div > div p {
    color: white;
    font-size: 16px;
    line-height: 26px;
    
}



/* --------------------STAY IN TOUCH ---------------- */

#contact {
    margin-bottom: 104px;
}

#contact .container h2 {
    margin-top: 64px;
    margin-bottom: 60px;
}

#contact iframe {
    width: 100%;
    height: 345px;
}

#contact .container div #contact-info h4 {
    font-size: 20px;
    color: #292f36;
    text-transform: uppercase;
    margin-top: 60px;

}

#contact .container div #contact-info p {
    color: #8d8f92;
    font-size: 16px;
    line-height: 26px;
    margin-top: 35px;
}

#contact .container div {
    /* display: flex;
    flex-wrap: wrap; */

}

#contact .container div #contact-info {
    width: 570px;
}

#contact .container div {
    position: relative;
}

#contact .container div form {
    width: 555px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: -190px;
    right: 0px;
    padding:30px;
}


#contact .container > div > form > div{
    display: flex;
    justify-content: space-between;  
}

#contact .container div form div div label {
    font-size: 14px;
    line-height: 26px;
    color: #8d8f92;
    text-transform: uppercase;  
}   

/* Your name & Your email input */
#contact .container div form div div input {
    width: 240px;
    height: 44px;
    background-color: #eaeef1;
    border: none;
    border-radius: 3px;
    color: #122126;
    font-size: 16px;
    padding: 5px 5px;
    line-height: 26px;


}

#contact .container > div > form #msg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

#contact .container div form div label {
    font-size: 14px;
    line-height: 26px;
    color: #8d8f92;
    text-transform: uppercase;  
    display: block;
    margin: 0px 0px;
}

#contact .container div form #msg label {
    margin-top: 30px;
}

/* Your message input*/
#contact .container div form div textarea {
    /* width: 497px; */
    height: 160px;
    background-color: #eaeef1;
    border: none;
    border-radius: 3px;
    resize: none;
    font-family: 'Open Sans';
    color: #122126;
    font-size: 16px;
    padding: 5px 5px;
    line-height: 20px;
}


/* SEND MESSAGE button */
#contact .container div form input[type=submit] {
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #8d8f92;
    border: 2px solid #c8cdd0;
    background-color: white;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 0px 10px;
    margin: 30px 0px;
    
}

/* SEND MESSAGE button hover */
 #contact .container div form input[type=submit]:hover {
    background-color: #23b7a4;
    border-color: #23b7a4;
    color: white;
}   


/* -------------------------FOOTER----------------------- */

footer {
    background-color: #3a454d;
    height: 95px;
}

footer .container  {
    padding-top: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer .container p {
    font-size:14px;

}

footer .container ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

footer .container ul li a{
    font-family: Social;
    text-decoration: none;
    color:white;
    font-size: 28px;
}

footer .container ul li a:hover {
    text-shadow: 0px 0px 5px white ;
    color: #66d3c4;
}